
@font-face {
    font-family: 'Epilogue';
    font-weight: 300;
    font-style: normal;
    src: url('fonts/Epilogue-Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    font-weight: 300;
    font-style: italic;
    src: url('fonts/Epilogue-LightItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/Epilogue-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    font-weight: 400;
    font-style: italic;
    src: url('fonts/Epilogue-Italic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/Epilogue-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    font-weight: 600;
    font-style: normal;
    src: url('fonts/Epilogue-SemiBold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    font-weight: 700;
    font-style: normal;
    src: url('fonts/Epilogue-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    font-weight: 700;
    font-style: italic;
    src: url('fonts/Epilogue-BoldItalic.woff2') format('woff2');
    font-display: swap;
}