h1{
    font-size: 46px;
    line-height: 54px;
}

h2{
    font-size: 24px;
    line-height: 32px;
}

.header {
    .wds-container {
        gap: 0;
    }

    .site-branding {
        img {
            aspect-ratio: 2000 / 300;
            width: 150px;
            height: auto;
        }
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background: $secondary-color;
        padding-right: 50px;
    }

    .main-navigation {
        width: auto;
        display: none;
    }

    .main-navigation.show-mobile {
        display: block;
    }

    .menu {
        display: flex;
        gap: 30px;
        flex-direction: column;

        li:last-child {
            margin-left: 0;
        }

        li:last-child a {
            background-color: $primary-color;
            padding: 10px 20px;
        }

        li:last-child:hover a {
            text-decoration: none;
            background-color: $primary-color;
        }

    }

    .burger-menu {
        display: inline-block;
        margin-left: auto;

        .bar1,
        .bar2,
        .bar3 {
            width: 20px;
            height: 2px;
            background-color: #fff;
            margin: 6px 0;
            transition: 0.4s;
        }
    }

    
    .burger-menu.change .bar1 {
        transform: translate(0, 5px) rotate(-45deg);
    }

    .burger-menu.change .bar2 {
        opacity: 0;
    }

    .burger-menu.change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }


}

.footer {
    .footer-flex {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .social-links{
        margin: 0 auto;

        ul{
            gap: 20px;
        }
    }

    .site-info{
        display: block;
        text-align: center;
        margin-top: 30px;

        .important-links ul{
            justify-content: center;
        }
    }
    
}

/* Archive */

.archive-info{
    padding: 30px 0;
    text-align: left;

    p{
        margin: 0;
    }
}


.archive-posts{
    padding-bottom: 0;

    .posts{
        display: grid;

        img{
            width: 100%;
            height: 224px;
            object-fit: cover;
            object-position: center;
        }

    }
}


body.single-post {
    main {
        .back-to-blog{
            font-size: 12px;
        }

        .single-post-meta{
            flex-direction: column;
            gap: 30px;
        }

        .author-meta{
            flex-direction: column;
            align-items: center;

            .author-info{
                flex-direction: column;
                text-align: center;
            }

            .social-links{
                margin: unset;

                ul{
                    margin: 0;
                    padding: 0;
                    display: flex;
                    gap: 10px;
                    margin-top: 40px;
                }
            }
        }
    }

    .related-articles{
        .related-articles-grid{
            gap: 60px;
        }
    }
}